{{#each usuarios}}
    <tr>
        <td>{{@index}}</td>
        <td>
            <img src='{{this.foto}}' style='width:100px;'>
        </td>
        <td>{{this.nombre}}</td>
        <td>{{this.anos_experiencia}}</td>
        <td>{{this.especialidad}}</td>
        <td>{{this.estado}}</td>
    </tr>
{{/each}}